.imgf {
  width: 80px;
  height: 80px;
}
.icon {
  font-size: 80px;
  color: chocolate;
}
.icon:hover {
  font-size: 90px;
  border: 3px solid chocolate;
  box-shadow: 5px 5px 15px chocolate;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 5px;
}
.text {
  margin: 0;
}
.svgico:hover {
  width: 90px;
  height: 90px;
  border: 3px solid chocolate;
  border-radius: 50px;
  box-shadow: 5px 5px 15px chocolate;
  padding: 5px;
  margin-bottom: 5px;
}
.imgf:hover {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lgFront,
.lgBack,
.lgframe {
  width: 95%;
  height: 60px;
  padding: 10px;
  background-color: rgba(210, 105, 30, 0.178);
}
.lgimgfront,
.lgimgBack,
.lgimgFrame {
  width: 95%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  background-color: rgba(22, 22, 21, 0.315);
}
.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c41919;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.skill-icon{
    position: relative;
}
.skill-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .iconB {
    font-size: 80px;
    color: violet;
  }
  .iconB:hover {
    font-size: 90px;
    border: 3px solid violet;
    box-shadow: 5px 5px 15px violet;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 5px;
  }
  .svgicoB:hover {
    width: 90px;
    height: 90px;
    border: 3px solid violet;
    border-radius: 50px;
    box-shadow: 5px 5px 15px violet;
    padding: 5px;
    margin-bottom: 5px;
  }

