.containerRed{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}
.telec{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.red{
    width: 95%;

  height: 100px;
  padding: 10px;
  background-color: rgba(210, 105, 30, 0.178);
    display: flex;
    align-items: center;
    margin-right: 20px;
   
}
.iconT{
    padding-top: 20px;
    height: 100%;
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 20px ;
    font-size: 40px;
    
}
.iconS{
    margin-left: 30px;
}
.textT{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.parraf{
  margin: 0;
  margin-left: 40px;
  
}
.tituloT{
    margin-left: 40px;
    margin-bottom: 0px;
}
